#root {
  position: absolute;
  inset: 0;
  overflow: hidden;
  background: #333333;
  background-image: linear-gradient(#051e39, #52213a);
}

#app {
  max-width: 1400px;
  padding: 8px;
  margin: auto;
}

#setting {
  position: fixed;
  right: 8px;
  bottom: 6px;
  button {
    background: #52347f80;
    border-radius: 4px;
    padding: 2px;
    height: 18px;
    width: 18px;
    color: white;
    cursor: pointer;
  }
}

.open-setting {
  display: block !important;
}
#setting-menu {
  display: none;
  position: fixed;
  background: #52347f;
  bottom: 50px;
  right: 8px;
  padding: 20px;
  border-radius: 16px;
  z-index: 100;
  > input {
    border-radius: 8px;
    padding: 6px;
    &:focus {
      outline: none;
    }
  }
}

.title {
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  color: var(--yellow);
  text-shadow: 4px 4px 4px black;
}

.prize-logo {
  display: flex;
  justify-content: center;
  height: 120px;
  img {
    height: 100%;
  }
}

.btn-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 101;
  .run-btn {
    margin: 20px 0px;
    padding: 4px 8px;
    background: #fbce3d url(../images/btn-yellow-bg.jpg) no-repeat top;
    background-size: cover;
    color: #6a4c08;
    box-shadow: inset 0 -5px #fef269;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
    border: 0;
    -webkit-appearance: none;
    min-width: 288px;
    padding: 0;
    transition: all 0.3s;
    height: 62px;
    line-height: 62px;
    -moz-appearance: none;
    appearance: none;
    &:hover {
      color: #23527c;
    }
  }
  .lucky-img {
    position: absolute;
    top: -230px;
    > img {
      width: 1000px;
      animation: zoom 0.12s ease-in-out both;
    }
  }
}

@keyframes zoom {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.1);
  }
}
// @keyframes zoom-in-out {
//   0% {
//     transform: scale(1);
//   }
//   100% {
//     transform: scale(1.2);
//   }
// }

